-- =============================================================================
-- FINAL DATABASE SCHEMA (JSONB HYBRID)
-- App: FieldWork (Anti Rayap & Pest Control)
-- PENTING: Script ini akan mereset tabel-tabel terkait jika sudah ada!
-- =============================================================================

CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- ==========================================
-- 0. BERSIHKAN TABEL LAMA (RESET CLEAN STATE)
-- ==========================================
DROP TABLE IF EXISTS public.inventory_logs CASCADE;
DROP TABLE IF EXISTS public.inventory_items CASCADE;
DROP TABLE IF EXISTS public.work_reports CASCADE;
DROP TABLE IF EXISTS public.spk CASCADE;
DROP TABLE IF EXISTS public.order_tracking CASCADE;
DROP TABLE IF EXISTS public.quotations CASCADE;
DROP TABLE IF EXISTS public.nomor_surat_logs CASCADE;
DROP TABLE IF EXISTS public.users CASCADE;
DROP TABLE IF EXISTS public.company_settings CASCADE;
DROP TABLE IF EXISTS public.companies CASCADE;

-- ==========================================
-- 1. ENUMERASI PERAN & STATUS
-- ==========================================
DROP TYPE IF EXISTS public.user_role CASCADE;
CREATE TYPE public.user_role AS ENUM (
  'SUPERADMIN', 'ADMIN', 'MARKETING', 'TEKNISI_LAPANGAN'
);

DROP TYPE IF EXISTS public.company_status CASCADE;
CREATE TYPE public.company_status AS ENUM ('TRIAL', 'ACTIVE', 'SUSPENDED', 'EXPIRED');

-- ==========================================
-- 2. TABEL PERUSAHAAN (TENANT)
-- ==========================================
CREATE TABLE IF NOT EXISTS public.companies (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  company_name varchar(255) NOT NULL,
  company_slug varchar(100) UNIQUE NOT NULL,
  status public.company_status NOT NULL DEFAULT 'ACTIVE',
  subscription_plan varchar(50) NOT NULL DEFAULT 'FREE_TIER',
  max_technicians int NOT NULL DEFAULT 20,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.company_settings (
  company_id uuid PRIMARY KEY REFERENCES public.companies(id) ON DELETE CASCADE,
  settings jsonb NOT NULL DEFAULT '{}'::jsonb
);

-- ==========================================
-- 3. PENGGUNA
-- ==========================================
CREATE TABLE IF NOT EXISTS public.users (
  id uuid PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  company_id uuid REFERENCES public.companies(id) ON DELETE CASCADE, -- Nullable untuk Superadmin
  name varchar(255) NOT NULL,
  email varchar(255) NOT NULL UNIQUE,
  role public.user_role NOT NULL DEFAULT 'TEKNISI_LAPANGAN',
  phone varchar(50),
  is_active boolean NOT NULL DEFAULT true,
  created_at timestamptz NOT NULL DEFAULT now()
);

-- ==========================================
-- 4. NOMOR SURAT LOG
-- ==========================================
CREATE TABLE IF NOT EXISTS public.nomor_surat_logs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  companyId uuid NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
  noSurat varchar(100) UNIQUE NOT NULL,
  kategori varchar(10),
  tipe varchar(10),
  tipeLabel varchar(100),
  jenisLayanan varchar(50),
  kepada varchar(255),
  byUid uuid,
  byName varchar(255),
  dibuat timestamptz NOT NULL,
  status varchar(50),
  quoId uuid,
  isManual boolean DEFAULT false,
  keteranganManual text
);

-- ==========================================
-- 5. QUOTATIONS & ORDER TRACKING
-- ==========================================
CREATE TABLE IF NOT EXISTS public.quotations (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  company_id uuid NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
  marketing_uid uuid REFERENCES public.users(id),
  status varchar(50) NOT NULL DEFAULT 'draft',
  created_at timestamptz NOT NULL DEFAULT now(),
  payload jsonb NOT NULL
);

CREATE TABLE IF NOT EXISTS public.order_tracking (
  id uuid PRIMARY KEY REFERENCES public.quotations(id) ON DELETE CASCADE,
  company_id uuid NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
  payload jsonb NOT NULL
);

-- ==========================================
-- 6. SPK & WORK REPORTS (FIELDWORK PWA)
-- ==========================================
CREATE TABLE IF NOT EXISTS public.spk (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  company_id uuid NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
  technician_id uuid REFERENCES public.users(id),
  status varchar(50) NOT NULL DEFAULT 'assigned',
  schedule_date timestamptz NOT NULL,
  created_at timestamptz NOT NULL DEFAULT now(),
  payload jsonb NOT NULL
);

CREATE TABLE IF NOT EXISTS public.work_reports (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  company_id uuid NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
  spk_id uuid NOT NULL REFERENCES public.spk(id) ON DELETE CASCADE,
  executor_id uuid NOT NULL REFERENCES public.users(id),
  status varchar(50) NOT NULL DEFAULT 'READY',
  check_in_at timestamptz,
  check_in_latitude double precision,
  check_in_longitude double precision,
  check_out_at timestamptz,
  risk_score int NOT NULL DEFAULT 0,
  customer_signature text,
  rating_stars smallint,
  is_rating_hidden_from_executor boolean DEFAULT true,
  pdf_storage_path text,
  created_at timestamptz NOT NULL DEFAULT now(),
  payload jsonb
);

-- ==========================================
-- 7. INVENTORI GUDANG
-- ==========================================
CREATE TABLE IF NOT EXISTS public.inventory_items (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  company_id uuid NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
  nama varchar(255) NOT NULL,
  kategori varchar(50) NOT NULL, -- 'Chemical', 'Alat', 'Perangkap'
  satuan varchar(20) NOT NULL,
  stok numeric(10,2) NOT NULL DEFAULT 0,
  min_alert numeric(10,2) NOT NULL DEFAULT 0,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.inventory_logs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  company_id uuid NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
  item_id uuid NOT NULL REFERENCES public.inventory_items(id) ON DELETE CASCADE,
  tanggal date NOT NULL DEFAULT CURRENT_DATE,
  qty_masuk numeric(10,2) NOT NULL DEFAULT 0,
  qty_keluar numeric(10,2) NOT NULL DEFAULT 0,
  sisa_stok numeric(10,2) NOT NULL,
  proyek varchar(255),
  keterangan text,
  created_at timestamptz NOT NULL DEFAULT now()
);

-- ==========================================
-- ROW LEVEL SECURITY (RLS)
-- ==========================================
ALTER TABLE public.companies ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.company_settings ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.users ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.nomor_surat_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.quotations ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.order_tracking ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.spk ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.work_reports ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.inventory_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.inventory_logs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Allow all" ON public.companies USING (true);
CREATE POLICY "Allow all" ON public.company_settings USING (true);
CREATE POLICY "Allow all" ON public.users USING (true);
CREATE POLICY "Allow all" ON public.nomor_surat_logs USING (true);
CREATE POLICY "Allow all" ON public.quotations USING (true);
CREATE POLICY "Allow all" ON public.order_tracking USING (true);
CREATE POLICY "Allow all" ON public.spk USING (true);
CREATE POLICY "Allow all" ON public.work_reports USING (true);
CREATE POLICY "Allow all" ON public.inventory_items USING (true);
CREATE POLICY "Allow all" ON public.inventory_logs USING (true);

-- ==========================================
-- 8. INJECT AKUN SUPERADMIN PERMANEN
-- ==========================================

-- Pastikan ekstensi auth dan relasinya terhubung dengan aman.
-- Kita tambahkan satu ID UUID statis untuk Superadmin
DO $$
DECLARE
  superadmin_id uuid := '00000000-0000-0000-0000-000000000000';
BEGIN
  -- Insert ke schema auth bawaan Supabase
  INSERT INTO auth.users (
    id, 
    instance_id,
    email, 
    encrypted_password, 
    email_confirmed_at, 
    raw_app_meta_data, 
    raw_user_meta_data, 
    aud, 
    role, 
    created_at, 
    updated_at
  )
  VALUES (
    superadmin_id,
    '00000000-0000-0000-0000-000000000000',
    'lieziragroup@gmail.com', 
    crypt('Rafi0502', gen_salt('bf')), 
    now(), 
    '{"provider":"email","providers":["email"]}', 
    '{"name":"Superadmin Liezira"}', 
    'authenticated', 
    'authenticated', 
    now(), 
    now()
  )
  ON CONFLICT (id) DO NOTHING;
  
  -- Insert relasi ke schema public
  INSERT INTO public.users (
    id, 
    company_id, 
    name, 
    email, 
    role
  )
  VALUES (
    superadmin_id, 
    NULL, -- Tidak punya company karena level dewa
    'Superadmin Liezira', 
    'lieziragroup@gmail.com', 
    'SUPERADMIN'
  )
  ON CONFLICT (id) DO NOTHING;
END $$;
